<!DOCTYPE html>
<html>
    <head>
        <meta chaarset='utf-8' />
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/fr">Français</a>
                    <a class="nav-item nav-link" href="/en">English</a>
                    <a class="nav-item nav-link" href="/es">Espanol</a>
                </div>
            </div>
        </nav>
        {{{body}}}
    </body>
</html>